<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    {{outlet}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 well">
    <h2 class="text-center">{{model.name}}</h2>
    <br>
    <h4>Address: http://{{model.url}}</h4>
    <h5>Key: {{model.key}}</h5>
    <br>
    <div class="pull-right">
      {{#link-to 'appliance.edit' model.id class="btn btn-primary"}}Edit{{/link-to}}
      <button type="button" name="Delete" class="btn btn-danger" {{action 'deleteAppliance' model}}>Delete</button>
    </div>
  </div>
</div>
