{{!-- Does not work in electron. --}}
{{!-- <div class="main-background" style="height: 100%; width: 100%; position: absolute; background: no-repeat center center fixed url('../assets/images/AppengPi_entry_Image_scaled.jpg'); background-size: cover;"></div> --}}
<div class="" style="height: 100vh; background-color: #eeeeee; opacity: .9;">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row well">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
              <div class=" text-center">
                <h2 id="title">LightRules Integration Demo</h2>
              </div>
            </div>
            <div class="row">
              <div class=" text-center">
                {{!-- <h4 class="">Connected To: {{if currentAppliance currentAppliance 'No Connected Appliance'}}</h4> --}}
                <h4>
                  {{#if currentAppliance}}
                    Connected To: <a href={{currentAppliance}} target='_blank'>{{currentAppliance}}</a>
                  {{else}}
                    No Connected Appliance
                  {{/if}}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          {{#link-to 'index' class="btn btn-primary"}}{{fa-icon 'home'}}{{/link-to}}
          {{link-to 'Appliances' 'appliances' class="btn btn-primary"}}
          {{link-to 'New Appliance' 'appliances.new' class="btn btn-success"}}
          {{#if currentAppliance}}
            {{link-to 'Dashboard' 'dashboard' class="btn btn-primary"}}
            {{link-to 'Profiles' 'profiles' class="btn btn-default"}}
            {{link-to 'Lights' 'lights' class="btn btn-default"}}
            {{link-to 'Zones' 'zones' class="btn btn-default"}}
          {{/if}}

        </div>
      </div>
    </div>
    <br />
    <div class="row" style="height: 450px; overflow-y: auto;">
      <div class="col-sm-10 col-sm-offset-1">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

{{ember-notify}}
